#leaderboard{
    background-image: url('../../images/home-desktop.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #leaderboard h2{
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 4rem 4rem 4rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
  }
  
  @media screen and (max-width: 450px) {
    #leaderboard {
        background-image: url('../../images/home-mobile.jpg');
    }
  }
  