@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,600&family=Pacifico&display=swap");

:root {
    /* --heading-text: "Pacifico";
    --content-text: "Nunito", sans-serif; */
    --content: white;
}

form {
    font-family: var(--content-text);
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    background: transparent;
}

#category,
#difficulty,
#number-of-questions {
    color: #242223;
    background-color: white;
    /* background-color: #91f7fe;
    box-shadow: 0 0 5px #91f7fe,
        0 0 10px rgb(145 247 254 / 0.8),
        0 0 15px rgb(145 247 254 / 0.7),
        0 0 30px rgb(145 247 254/ 0.6);
    border-color: #91f7fe; */
    border-radius: 10px;
    padding: 0.2rem;
    margin: 0rem 0.5rem;
    text-align: center;
    font-size: 20px;
}

label {
    display: flex;
    justify-content: center;
    text-align: left;
    background: transparent;
}

#play-button {
    background-color: tra;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0.5rem 1.2rem;
    color:
        wheat;
    display: inline-block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#play-button:hover {
    color: wheat;
    background-color: #3D238A;
    box-shadow: 0 0 100px #3D238A,
        0 0 10px #3D238Acc,
        0 0 15px #3D238Ab3,
        0 0 30px #3D238A99;
    border-color: #3D238A;
}

#game-heading {
    margin-bottom: 20%;
    border-radius: 10px;
    background-color: #ea62cc;
    box-shadow: 0 0 100px #F250CF,
        0 0 10px #F250CFcc,
        0 0 15px #ff8fc5b3,
        0 0 30px #ff8fc599;
    border-color: #ff8fc5;
}


@media screen and (max-width: 450px) {
    form {
        font-size: 0.9rem;
        padding-left: 0.7rem;
    }
}
