@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,600&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
    --heading-text: "Pacifico";
    --content-text: "Nunito", sans-serif;
    --content: white;
}

form {
    text-align: center;
    font-family: var(--content-text);
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    background: transparent;
}

#category,
#difficulty,
#number-of-questions {
    cursor: pointer;
    width: 70%;
    color: white;
    background-color: rgba(150, 193, 216, 0.532);
    border-radius: 10px;
    padding: 0.2rem;
    margin: 0rem 0.5rem;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

/* PlAY BUTTON STYLING */

button#play-button {
    font-size: 1.2rem;
    background-color: transparent;
    border-style: none;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #5d41b3;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    width: 100%;
}

button#play-button:hover {
    background: #5d41b3;
    color: #050801;
    box-shadow: 0 0 5px #5d41b3,
        0 0 25px #5d41b3,
        0 0 50px #5d41b3,
        0 0 200px #5d41b3;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button#play-button:nth-child(1) {
    filter: hue-rotate(270deg);
}

button#play-button:nth-child(2) {
    filter: hue-rotate(110deg);
}

button#play-button span {
    position: absolute;
    display: block;
}

button#play-button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #5d41b3);
    animation: animate1 1.75s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

button#play-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #5d41b3);
    animation: animate2 1.75s linear infinite;
    animation-delay: 0.45s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

button#play-button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #5d41b3);
    animation: animate3 1.75s linear infinite;
    animation-delay: 0.88s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}


button#play-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #5d41b3);
    animation: animate4 1.75s linear infinite;
    animation-delay: 1.32s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}



#game-heading {
    margin-bottom: 20%;
    border-radius: 10px;
    background-color: #ea62cc;
    box-shadow: 0 0 100px #F250CF,
        0 0 10px #F250CFcc,
        0 0 15px #ff8fc5b3,
        0 0 30px #ff8fc599;
    border-color: #ff8fc5;
}

#backBtn {
    top: 20px;
    border: none;
    position: absolute;
    background: transparent !important;
    color: rgb(150, 193, 216);
    margin-left: 85% !important;
    font-size: 1.5rem;
    text-shadow:
        0 0 500px #fff,
        0 0 100px #fff,
        0 0 50px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 15px #0ff;
}

@media screen and (max-width: 450px) {
    form {
        font-size: 0.9rem;
        padding-left: 0.7rem;
    }
}
