@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,600&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --heading-text: 'Exo 2', sans-serif;
    --content-text: 'Exo 2', sans-serif;
    --content: white;
    /* Set neon color */
    --neon-text-color: #ff00f6;
    --neon-border-color: #41DDF9;
    font-family: 'Exo 2', sans-serif;
}

.error {
    color: #91f7fe;
}

#welcome {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-style: var(--content-text);
    background-image: url('../../images/bricks.jpeg');
    background-size: 100% 100%;
    background-repeat:repeat;
    /* height: 100vh; */
}

#welcome h1 {
    font-size: 5rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 4rem 6rem 5.5rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1:focus {
    outline: none;
}

#welcome .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center
}



#welcome img {
    height: 420px;
    width: auto;
    background-color: transparent;

}

#welcome form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    background: transparent;
}


#welcome label {
    display: inline;
}

#welcome input {
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 50px;
    padding: 10px 0;
    font-family: 'Exo 2', Arial;
    font-weight: 600;

}

#welcome input[type="text"] {
    width: 100%;
    margin-right: auto;
    display: inline-block;
    margin-left: auto;
}

/* NEW GAME BUTTON */

button.newQuiz {
    background-color: transparent;
    border-style: none;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

button.newQuiz:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* button.newQuiz:nth-child(1) {
    filter: hue-rotate(270deg);
} */

/* button.newQuiz:nth-child(2) {
    filter: hue-rotate(110deg);
} */

button.newQuiz span {
    position: absolute;
    display: block;
}

button.newQuiz span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1.75s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

button.newQuiz span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1.75s linear infinite;
    animation-delay: 0.45s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

button.newQuiz span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1.75s linear infinite;
    animation-delay: 0.88s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}


button.newQuiz span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1.75s linear infinite;
    animation-delay: 1.32s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

/* JOIN QUIZ BUTTON */

    button#join {
        background-color: transparent;
        border-style: none;
        position: relative;
        display: inline-block;
        padding: 25px 30px;
        margin: 40px 0;
        color: #f403d8;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
        /* margin-right: 50px; */
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
    }
    
    button#join:hover {
        background: #f403d8;
        color: #050801;
        box-shadow: 0 0 5px #f403d8,
            0 0 25px #f403d8,
            0 0 50px #f403d8,
            0 0 200px #f403d8;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
    
    /* button#join:nth-child(1) {
        filter: hue-rotate(270deg);
    }
    
    button#join:nth-child(2) {
        filter: hue-rotate(110deg);
    }
     */
    button#join span {
        position: absolute;
        display: block;
    }
    
    button#join span:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #f403d8);
        animation: animate1 1.75s linear infinite;
    }
    
    @keyframes animate1 {
        0% {
            left: -100%;
        }
    
        50%,
        100% {
            left: 100%;
        }
    }
    
    button#join span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #f403d8);
        animation: animate2 1.75s linear infinite;
        animation-delay: 0.45s;
    }
    
    @keyframes animate2 {
        0% {
            top: -100%;
        }
    
        50%,
        100% {
            top: 100%;
        }
    }
    
    button#join span:nth-child(3) {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #f403d8);
        animation: animate3 1.75s linear infinite;
        animation-delay: 0.88s;
    }
    
    @keyframes animate3 {
        0% {
            right: -100%;
        }
    
        50%,
        100% {
            right: 100%;
        }
    }
    
    
    button#join span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #f403d8);
        animation: animate4 1.75s linear infinite;
        animation-delay: 1.32s;
    }
    
    @keyframes animate4 {
        0% {
            bottom: -100%;
        }
    
        50%,
        100% {
            bottom: 100%;
        }
    }
    

#welcome p {
    width: 100%;
    text-align: center;
    /* font-family: var(--heading-text);  */
    color: var(--content);
    font-size: 1.4rem;
    background: transparent;

}

#welcome div,
#welcome h3 {
    text-align: center;
    width: 100%;
}

#welcome p {
    margin: 0;
}

#leaderboardIcon {
    /* margin-right: 85% !important; */
    padding-top: 15px;
    font-size: 1rem;
    text-shadow:
        0 0 500px #fff,
        0 0 10px #fff,
        0 0 10px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 15px #0ff;
}

.iconT {
    padding-left: 10px;
    color: #0ff;

}


#leaderboardIcon:hover {
    cursor: pointer;
}

/* #welcome .disabled {
    pointer-events: none;
    color: #fff;
    background-color: grey;
    width: 49%;
    display: inline-block;
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
} */

/* RESPONSIVE - MOBILE */

@media screen and (max-width: 550px) {
    #welcome {
        background-image: url('../../images/bricks.jpeg');
        background-size: 100% 100%;
        background-repeat:repeat-y;
    }

    #welcome img {
        height: auto;
        width: 380px;
        padding-top: 0.5rem;
    }

    #welcome button[name="joinQuiz"],
    #welcome button[name="newQuiz"],
    #welcome input[type="text"] {
        font-size: 0.8rem;

    }

    #welcome form {
        width: 60%;
        margin-right: 20%;
    }

    #welcome p {
        font-size: 0.9rem;
    }

    button#join,
     button.newQuiz{
        padding: 5px 15px;
        margin: 2px;
    }
}
