#score-page {
  background-image: url('../../images/bricks.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#playerscore img{
  position: relative;
     animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0%, 100% {
    top: 0;
  }

  50% {
    top: 10px;
  }

}
#playerscore h2 {
  font-size: 4.5rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 2rem 2rem 2rem 1rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  margin-bottom: 70px;
}

button#toLeaderbrd {
  position: relative;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  padding: 1.2rem 2.1rem;
  font-size: 1rem;
  background: transparent;
  border: 2px solid #ffe4f3;
  border-radius: 1rem;
  color: #ffeff7;

  -webkit-box-shadow: 0px 0px 44px 1px rgba(248, 74, 167, 1), 0px 0px 20px 1px rgba(248, 74, 167, 1);
  -moz-box-shadow: 0px 0px 44px 1px rgba(248, 74, 167, 1), 0px 0px 20px 1px rgba(248, 74, 167, 1);
  box-shadow: inset 0px 0px 20px 1px rgba(248, 74, 167, 1), 0px 0px 20px 1px rgba(248, 74, 167, 1);
  text-shadow: 0 0 0.125em rgba(248, 74, 167, 1);
}

button#toLeaderbrd:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-color: #f84aa7;
  border: 0;
}

button#toLeaderbrd::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f84aa7;
  border-radius: 1rem;
  filter: blur(2em);
  opacity: 0;
  transition: opacity linear 0.1s;
  z-index: -1;
}

button#toLeaderbrd:hover::after {
  opacity: 1;
}

@media screen and (max-width: 450px) {
  #score-page {
    background-image: url('../../images/bricks.jpeg');
  }
}
