@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
    --heading-text: "Pacifico";
    --content-text: "Nunito", sans-serif;
    --content: white;
}

h3 {
    font-family: var(--content-text);
    color: var(--content);
    text-align: center;
    margin: 0 auto;
}

#question-container {
    text-align: center;
    width: 100%;
}

#question-heading {
    margin-bottom: 20%;
    border-radius: 10px;
    background-color: #ea62cc;
    box-shadow: 0 0 100px #F250CF,
        0 0 10px #F250CFcc,
        0 0 15px #ff8fc5b3,
        0 0 30px #ff8fc599;
    border-color: #ff8fc5;
    font-size: 45px;
}

#question {
    margin-top: 40px;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 450px) {
    #question-container {
        text-align: center;
        width: 220px;
        margin: 0 auto;
        font-size: 0.9rem;
    }
}
